---
---

<style>
	.repo-list
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.repo-list li
	{
		float: left;
		display: block;
		width: 100%;
		margin: 10px 0;
	}

	.repo-list li a
	{
		text-decoration: none;
		font-weight: bold;
		font-size: 18px;
		float: left;
		width: 100%;
	}

	.repo-list li span
	{
		float: left;
		width: 100%;
		margin: 5px;
		padding: 5px;
		background: rgba(0,0,0,0.07);
		border: 1px solid rgba(0,0,0,0.07);
		box-sizing: border-box;
	}
</style>

<div class="home">
<!-- 	<h1 class="page-heading">Posts</h1>

	<ul class="post-list">
		{% for post in site.posts %}
			<li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
				<h2>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
				</h2>
			</li>
		{% endfor %}
	</ul>
 -->
	<h1 class="page-heading">Repositories</h1>
	<ul class="repo-list">
		{% for repository in site.github.public_repositories %}
			<li>
				<a class="post-link" href="{{repository.html_url}}">{{repository.name}}</a>
				<span>{{repository.description}}</span>
			</li>
		{% endfor %}
	</ul>


	<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

	<p>
		<strong>Repositories</strong>

		{% for repository in site.github.public_repositories %}
			<br /><a href="{{repository.html_url}}">{{repository.name}}</a>
		{% endfor %}
	</p> -->
</div>
